/*
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
*/

.master,
header,
section,
footer,
figure,
h1,h2,h3,h4,h5,h6{
    width: 100%;
    float: left;
    position: relative;
}
header{
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
header.scrolled{
    background: #091D42;
}
.master{
    overflow-x: hidden;
}

:root {
    --green: #2CD97B; 
    --dark-blue: #091D42;
    --blue: #27AFE8;
    --gradient-1: linear-gradient(135deg, #2CD97B 0%, #27AFE8 100%);
    --dark-title-color: #fff;
    --dark-paragraph-color: rgba(255,255,255,0.6)
}

p{
    width: 100%;
    float: left;
}
ul,
ol{
    list-style: none;
    width: 100%;
    float: left;
}
p,li{
    font-family: 'Inter', sans-serif;
}
p.lg{
    font-size: 20px;
}
p.xxl{
    font-size: 24px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.dark-bg h1,
.dark-bg h2,
.dark-bg h3,
.dark-bg h4,
.dark-bg h5,
.dark-bg h6{
    color: #fff;
}
.dark-bg p,
.dark-bg li{
    color: rgba(255,255,255,0.6);
}
h1{font-size: 59px;}
h2{font-size: 45px;}
h3{font-size: 33px;}
h4{font-size: 24px;}
h5{font-size: 18px;}
h6{font-size: 14px;}

a:hover{
    text-decoration: none;
}

section{
    padding: 80px 0;
}

figure img{
    width: 100%;
}
.ratio{
    width: 100%;
    height: 0;
    position: relative;
}
.ratio-16{
    padding-top: 56.25%;
}
.ratio-1{
    padding-top: 100%;
}
.ratio-75{
    padding-top: 75%;
}
.ratio-135{
    padding-top: 135%;
}
.ratio img,
.ratio iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.is-circle{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
}

.section-title{
    width: 100%;
    float: left;
    margin-bottom: 40px;
}
.section-title h6{
    color: var(--green) !important;
    font-weight: 600;
    letter-spacing: 2px;
}
.section-title .ico{
    font-size: 50px;
    color: var(--green);
    display: inline-block;
}
.section-title p{
    margin-bottom: 0;
}

.btn{
    min-width: 120px;
    padding: 14px 30px;
    font-size: 14px;
    font-weight: 400 !important;
    display: inline-block;
}
.btn-primary{
    background: var(--green);
    color: #091d42;
    border: none;
}
.btn-primary:hover{
    background: var(--blue);
    color: #fff;
}
.btn-secondary{
    background: none;
    border: 2px solid #fff;
    color: #fff;
}
.btn-secondary:hover{
    background: var(--blue);
    border-color: var(--blue);
}
.btn.btn-sm{
    padding: 10px 20px;
    line-height: 100%;
}
.btn-lg{
    font-size: 16px;
}
.btn-fullwidth{
    width: 100%;
}

.dark-bg{
    background-color: var(--dark-blue);
}
.dark-bg h1,
.dark-bg h2,
.dark-bg h3,
.dark-bg h4,
.dark-bg h5,
.dark-bg h6{
    color: #fff;
}
.dark-bg p,
.dark-bg li{
    color: rgba(255,255,255,0.6);
}
.g-0 .col-md-4{
    padding-right: 0;
    padding-left: 0;
}
.g-30 .col-md-4{
    padding-left: 15px;
    padding-right: 30px;
}
.g-10 .col-md-3,
.g-10 .col-md-6,
.g-10 .col-md-12{
    padding-left: 5px;
    padding-right: 5px;
}
.mt-100{
    margin-top: 100px;
}
.mb-50{
    margin-bottom: 50px;
}
.r-5{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
}
.pr{
    position: relative;
}
.pt-50{
    padding-top: 50px;
}
.pb-50{
    padding-bottom: 50px;
}

form{
    width: 100%;
    float: left;
}
input,
textarea{
    width: 100%;
    background: #0A3967;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}
input[type="checkbox"]{
    width: 16px;
    height: 16px;
    float: left;
}
input[type="checkbox"] ~ label{
    width: calc(100% - 16px);
    padding-left: 15px;
    line-height: 100%;
    margin-bottom: 0;
    float: left;
}
label{
    font-size: 16px;
    color: #fff;
}

.border-frame{
    width: 100%;
    float: left;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #0b2347;
    overflow: hidden;
}
.for-mobile{
    display: none;
}
section.pac-200{
    padding: 240px 0 160px;
}

/* HEADER */
header{
    height: 76px;
    padding: 16px 0;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
}
header .logo{
    width: 192px;
    height: 49px;
    float: left;
}
.menu{
    width: calc(100% - 192px);
    float: left;
    text-align: right;
}
.menu-item{
    display: inline-block;
    position: relative;
}
.menu-item a{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin: 0 17px;
    color: #fff;
    transition: all ease-out 0.3s;
    padding: 15px 0;
    display: block;
}
.menu-item .dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 240px;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    opacity: 0;
    pointer-events: none;
}
.menu-item:hover .dropdown{
    opacity: 1;
    pointer-events: auto;
}
.menu-item .dropdown a{
    width: 100%;
    float: left;
    text-align: left;
    color: #333;
    padding: 10px 20px;
    margin: 0;
}
.menu-item .dropdown a:last-child{
    padding-bottom: 20px;
}
.menu-item .dropdown a:hover{
    background: var(--green);
    color: #333;
}
.menu-item a.btn-primary{
    color: #091d42;
    width: 148px;
}
.menu-item a:hover{
    color: var(--green);
}
.menu-item a.btn-primary:hover{
    color: #fff;
}
.menu-item a i{
    margin-left: 10px;
}

#hero{
    padding: 0;
    background: var(--dark-blue);
}
#hero .item{
    height: 815px;
    width: 100%;
    position: relative;
}
#hero .item figure{
    height: 815px;
    position: absolute;
    z-index: 0;
}
#hero .item figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#hero .item figure::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(9,29,66);
    background: linear-gradient(6deg, rgba(9,29,66,1) 0%, rgba(9,29,66,0.30015756302521013) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#hero .item .container{
    position: relative;
    z-index: 2;
}
#hero .item .text{
    padding-top: 188px;
}
#hero .item .text h1{
    color: #fff;
    margin-bottom: 30px;
}
#hero .item .text p{
    color: #fff;
    margin-bottom: 20px;
}

/*SECTION 2*/
.section-2{
    margin-top: -100px;
    z-index: 2;
}
.section-2 .container{
    max-width: 1080px;
}
.card-1{
    background: #0B2347;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
    padding: 48px 32px;
}
.card-1 h3{
    margin-bottom: 20px;
}
.card-1 p{
    margin-bottom: 30px;
}
.card-1.active{
    background: var(--gradient-1);   
    padding: 68px 48px;
    margin-top: -30px;
    margin-left: -5px;
    margin-right: -5px;
    z-index: 2;
    position: relative;
    margin-bottom: -30px;
}
.card-1.active h3{
    margin-bottom: 30px;
}
.card-1.active p{
    color: #fff;
}
.card-1.active .btn{
    margin-bottom: 10px;
}
.card-1 .ico{
    font-size: 70px;
    color: #fff;
    margin-bottom: 10px;
}

/*SECTION 3*/
.section-3{
    background: var(--dark-blue) url(../images/bg_img.jpg) no-repeat center bottom;
    padding-bottom: 160px;
}
.section-3::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--dark-blue);
    opacity: 0.8;
}
.section-3 .dec{
    position: absolute;
    top: -40px;
    width: 235px;
    height: 190px;
    padding: 48px;
    background: var(--gradient-1);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
    color: #fff;
}
.dec.dec-right{
    right: 0;
}
.dec.dec-left{
    left: 0;
}
.dec.dec-bottom-right{
    right: -20px;
    bottom: -20px;
    top: auto;
}
.section-3 .dec .num{
    font-size: 60px;
    font-weight: 700;
    line-height: 80%;
    margin-bottom: 20px;
}
.section-3 .dec span{
    font-size: 16px;
    font-weight: 600;
}
.section-3 .dec.dec-quotes{
    width: 325px;
    padding: 32px;
    background: #fff;
    height: auto;
}
.section-3 .dec.dec-quotes p{
    color: #333;
    font-size: 17px;
    margin-bottom: 0;
}
.section-3 .dec.dec-quotes .quoter{
    color: var(--green);
    font-size: 15px;
    margin-bottom: 10px;
}
.section-3 .dec.dec-quotes i{
    color: #afbdcb;
    font-size: 42px;
    line-height: 100%;
    margin-bottom: 10px;
    display: inline-block;
}
.section-3 figure{
    height: 100%;
}
.section-3 figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-2{
    width: 100%;
    float: left;
    padding: 15px 30px 15px 100px;
    position: relative;
    background: #0B2347;
    margin-bottom: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.card-2 .ico{
    font-size: 50px;
    color: #2CD97B;
    position: absolute;
    top: 15px;
    left: 30px;
    line-height: 100%;
}

/*SECTION 4*/
.section-4-bg{
    width: 100%;
    height: 580px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.section-4-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-4-bg::before{
    background: rgb(9,29,66);
    background: linear-gradient(6deg, rgba(9,29,66,1) 0%, rgba(9,29,66,0.30015756302521013) 100%);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.section-4 .section-title h2{
    line-height: 140%;
    margin-bottom: 30px;
}
.section-4 .section-title h6{
    margin-bottom: 20px;
}
.card-3{
    width: 100%;
    float: left;
    background: #0B2347;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    min-height: 603px;
    border-bottom: 10px solid var(--green);
}
.card-3.active{
    background: var(--gradient-1);   
}
.card-3-header{
    width: 100%;
    float: left;
    padding: 32px 32px 16px 100px;
    position: relative;
}
.card-3-header .ico{
    font-size: 50px;
    position: absolute;
    top: 32px;
    left: 32px;
    color: var(--green);
    line-height: 100%;
}
.card-3 li{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
}
.card-3 li i{
    position: absolute;
    color: var(--green);
    left: 0;
    top: 3px;
}
.card-3.active li i,
.card-3.active .card-3-header .ico,
.card-3.active li{
    color: #fff;
}
.card-3 .text h4{
    font-size: 20px;
}

/*SECTION 5*/
.section-5{
    background: url(../images/bg_img2.jpg) no-repeat center;
    background-size: cover;
}
.section-5::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--dark-blue);
    opacity: 0.7;
    z-index: 0;
}
.card-4{
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 20px;
    border: 1px solid rgba(255,255,255,0.2);
    background: #0B2347;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 32px;
    transition: all ease-out 0.3s;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
}
.card-4 .ico{
    font-size: 50px;
    color: var(--green);
    margin-bottom: 20px;
}
.card-4 h5,
.card-4 p{
    margin-bottom: 20px;
}
.card-4:hover{
    border-color: var(--green);
    box-shadow: 0 30px 60px 0px rgba(44,217,123,0.17);
}

/*SECTION 6*/
.section-6{
    background: url(../images/bank/pic-9.jpg) no-repeat center;
    background-size: cover;
    padding: 140px 0;
}
.section-6::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #0B2347 15%, #27AFE880 100%);
    z-index: 0;
}
.section-6 .text{
    padding: 32px;
}
.section-6 .text h2{
    margin-bottom: 20px;
}
.section-6 .text p{
    margin-bottom: 30px;
}

/*SECTION 7*/
.section-7 .section-title{
    padding-right: 32px;
}
.section-7 .card-2{
    padding-top: 32px;
    padding-bottom: 32px;
}
.section-7 .card-2 .ico{
    top: 32px;
}

/*SECTION 8*/
.section-8{
    background: var(--dark-blue) url(../images/map_bg.png) no-repeat center;
    background-size: contain;
}
.section-8::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--dark-blue);
    z-index: 0;
    opacity: 0.7;
}
.card-5{
    width: 100%;
    float: left;
    padding: 32px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: rgba(39,175,232,0.1);
    text-align: center;
}
.card-5 .num{
    font-size: 45px;
    color: var(--green);
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 20px;
}

/*SECTION 9*/
.section-9{
    padding-top: 0;
    padding-bottom: 0;
}
.card-6{
    width: 100%;
    float: left;
    padding: 32px;
    text-align: center;
    border-right: 1px solid rgba(255,255,255,0.2);
}
.card-6 .ico{
    font-size: 70px;
    color: #fff;
}

.section-9 .container{
    background: var(--gradient-1);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.section-9 .col-md-4:nth-child(3n) .card-6{
    border-right: none;
}
.section-9 h5{
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}
.section-9 p{
    color: #fff;
}
.section-9 h2{
    color: #fff;
}

/*TESTIMONIAL*/
.testimonial-slider .item{
    padding: 0 10px;
}
.card-7{
    width: 100%;
    float: left;
    border: 1px solid rgba(255,255,255,0.2);
    background: #0B2347;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 32px;
    text-align: center;
}
.card-7 p{
    margin-bottom: 40px;
}
.card-7 .user{
    width: 200px;
    margin: auto;
}
.card-7 .user .pic{
    width: 50px;
    float: left;
}
.card-7 .user .text{
    width: 150px;
    float: left;
    padding-left: 15px;
    text-align: left;
}
.card-7 .user .text h5{
    font-size: 16px;
    color: var(--green);
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
    padding-top: 3px;
}
.card-7 .user .text span{
    color: #fff;
    font-size: 14px;
}
.testimonial-slider .slick-dots button{
    background: rgba(255,255,255,0.1);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.testimonial-slider .slick-dots{
    transform: translateY(10px);
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
}
.testimonial-slider .slick-dots li{
    width: 12px;
}
.testimonial-slider .slick-dots li.slick-active button{
    background: var(--green);
}

/*SECTION 10*/
.section-10{
    background: var(--dark-blue) url(../images/bg_img.jpg) no-repeat center;
    background-size: cover;
}
.section-10::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--dark-blue);
    z-index: 0;
    opacity: 0.7;
}
.section-10 .card-4.active{
    background: #0A3967;
}

/*FOOTER*/
.top-footer{
    padding-bottom: 30px;
    background: linear-gradient(180deg, #0b2347 0%, #091d42 100%);
}
.newsletter-form{
    width: 100%;
    float: left;
}
.newsletter-form input{
    width: calc(100% - 170px);
    float: left;
    margin-right: 10px;
    height: 47;
    padding: 10px 20px;
    font-size: 16px;
    background: #0A3967;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
}
.newsletter-form button{
    width: 160px;
    float: left;
    height: 47px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.newsletter-form button i{
    margin-left: 5px;
    font-size: 16px;
    line-height: 100%;
}
ul.sitemap{
    padding-left: 0;
}
ul.sitemap li{
    width: 100%;
    float: left;
    padding-left: 28px;
    position: relative;
    font-size: 14px;
    margin-bottom: 10px;
}
ul.sitemap li a{
    color: rgba(255,255,255,0.7);
}
ul.sitemap li i{
    position: absolute;
    top: 0;
    left: 0;
    color: var(--green);
}
.bottom-footer{
    background: #0B2347;
    padding: 0;
    width: 100%;
    float: left;
}
.bottom-footer a{
    font-size: 16px;
    color: rgba(255,255,255,0.7);
    width: 100%;
    float: left;
    padding: 10px 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.bottom-footer a i{
    display: block;
    font-size: 50px;
    margin-bottom: 10px;
    color: #0A3967;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.bottom-footer a:hover{
    background: rgba(0,0,0,0.1);
}
.bottom-footer a:hover i{
    color: var(--green);
}
.bottom-footer hr{
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,0.2);
    margin: 80px 0 32px;
}
.foot-logo{
    width: 110px;
    float: left;
}
.foot-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.bottom-footer p{
    margin-bottom: 0;
    text-align: right;
    font-size: 14px;
    margin-top: 22px;
}
.bottom-footer .row:first-child{
    padding: 35px 0;
}
.bottom-footer .row:last-child{
    padding: 10px 0;
    border-top: 1px solid rgba(255,255,255,0.3);
}

/*SECTION 11*/
.section-11-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.section-11-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-11-bg::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #0B2347 15%, #27AFE880 100%);
    z-index: 0;
}
.card-8{
    width: 100%;
    float: left;
    border: 1px solid rgba(255,255,255,0.2);
    background: #0B2347;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    margin-top: 20px;
}
.card-8:hover{
    box-shadow: 0 30px 60px 0px rgba(44,217,123,0.17);
    border-color: var(--green);
}
.card-8 .text{
    padding: 10px 32px;
    width: 100%;
    float: left;
}
.card-8 h4{
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 18px;
}
.card-8 p{
    color: var(--green);
}
.card-8 img{
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.card-8 img{
    filter: grayscale(1);
}
.card-8:hover img{
    filter: grayscale(0);
}

/*SECTION 13*/
.section-13 .content-item{
    background: var(--gradient-1);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 60px 0;
}
.section-13 .content-item .col-md-9{
    padding: 0 77px;
    border-right: 1px solid rgba(255,255,255,0.2);
}
.section-13 .text{
    width: 100%;
    float: left;
}

/*ABOUT COVER*/
.about-cover{
    padding: 120px 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.about-cover::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(9,29,66);
    background: linear-gradient(6deg, rgba(9,29,66,1) 0%, rgba(9,29,66,0.30015756302521013) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/*SERVICE COVER*/
.service-cover{
    padding: 200px 0 60px;
}
.service-cover-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.service-cover-bg::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(9,29,66);
    background: linear-gradient(0deg, rgba(9,29,66,1) 0%, rgba(9,29,66,0.30015756302521013) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.service-cover h6{
    color: var(--green);
}
.logo-slider{
    margin-top: 60px;
    padding-top: 45px;
    border-top: 1px solid rgba(255,255,255,0.3);
}

/*SINGLE SERVICE*/
.single-service-cover{
    padding-top: 250px;
}
.section-4 .card-4{
    padding: 48px;
}
.section-4 .card-4 .ico{
    font-size: 70px;
    margin-bottom: 20px;
    line-height: 100%;
}

/*PRICING*/
.card-9{
    padding: 48px;
    border: 1px solid rgba(255,255,255,0.2);
    background: #0B2347;
    width: 100%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
}
.card-9 h4{
    color: var(--green);
    font-weight: 300;
    margin-bottom: 30px;
}
.card-9 .price{
    font-size: 59px;
    color: var(--green);
    font-weight: 700;
    margin-bottom: 30px;
}
.card-9 .price sup{
    font-size: 18px;
    font-weight: 700;
}
.card-9 .specs{
    width: 100%;
    float: left;
    margin-bottom: 40px;
}
.card-9 .specs p{
    padding: 15px 0;
    border-bottom: 1px solid rgba(255,255,255,0.15);
    margin-bottom: 0;
}
.card-9 .specs p:last-child{
    border: none;
}
.card-9.active{
    background: var(--gradient-1);
}
.card-9.active h4,
.card-9.active p,
.card-9.active .price{
    color: #fff;
}
.card-9.active .btn-secondary{
    background: #fff;
    color: #333;
}
.card-9.active .btn-secondary:hover{
    background: var(--blue);
}

/*LANDING PAGE*/
.lp-headline{
    height: 874px;
    padding-top: 200px;
}
.lp-headline figure{
    position: absolute;
    top: 0;
    left: 0;
}
.lp-headline figure::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(9,29,66);
    background: linear-gradient(0deg, rgba(9,29,66,1) 0%, rgba(9,29,66,0.30015756302521013) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.tag{
    padding: 7px 20px;
    background: var(--gradient-1);
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}
.lp-headline .text h1{
    margin-bottom: 20px;
}
.lp-headline .text h4{
    font-weight: 300;
    margin-bottom: 20px;
}
.lp-headline .text p{
    margin-bottom: 40px;
}
.lp-headline .text .row{
    width: 100%;
}
.card-10{
    width: 100%;
    float: left;
    background: rgba(255,255,255,0.15);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 15px;
}
.card-10 i{
    font-size: 50px;
    line-height: 100%;
    margin-bottom: 10px;
    display: block;
    color: #fff;
}

.accordion{
    width: 100%;
    float: left;
}
.accordion .item{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.2);
    overflow: hidden;
}
.accordion .item .accordion-header,
.accordion .item .accordion-body{
    padding: 28px;
    background: var(--dark-blue);
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.accordion .item .accordion-header{
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}
.accordion .item .accordion-header i{
    float: right;
    color: var(--green);
    font-size: 22px;
}
.accordion .item .accordion-body{
    overflow: hidden;
    height: auto;
    padding: 0 28px;
    max-height: 0;
}
.accordion .item .accordion-body p{
    margin-bottom: 0;
}

.accordion .item.active .accordion-header{
    background: var(--gradient-1);
}
.accordion .item.active .accordion-header i{
    color: #fff;
}
.accordion .item.active .accordion-body{
    max-height: 200px;
    padding: 28px;
}

/*CONTACT*/
.contact .ratio{
    padding-top: 350px;
}
.contact-form{
    padding: 0 10px;
}

.contact-form textarea{
    height: 140px;
}

.contact .border-frame{
    padding: 48px;
}
.contact figure{
    margin-bottom: 0;
}
.contact-info{
    width: 100%;
    float: left;
    padding: 20px 48px 30px;
}
.contact-info .info{
    width: 100%;
    float: left;
    position: relative;
    padding-left: 62px;
    margin-bottom: 10px;
}
.contact-info .info i{
    font-size: 42px;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 100%;
    color: var(--green);
}
.contact-info .info h4{
    font-size: 18px;
    color: var(--green);
}

/*FAQ*/
.section-14 .border-frame{
    padding: 48px;
}
.cat-group{
    width: 100%;
    float: left;
}
.cat-group a{
    padding: 15px 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    width: 100%;
    float: left;
    position: relative;
    padding-left: 45px;
    color: rgba(255,255,255,0.7);
    font-size: 16px;
    font-weight: 700;
}
.cat-group a i{
    color: var(--green);
    position: absolute;
    left: 0;
    top: 4px;
    font-size: 28px;
}
.cat-group a:last-child{
    border-bottom: none;
}
.cs-box{
    width: 100%;
    float: left;
    padding: 48px;
    background: var(--gradient-1);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.cs-box .ico{
    font-size: 50px;
}
.cs-box p{
    margin-bottom: 0;
}

/*BLOG*/
.post-card{
    width: 100%;
    float: left;
    overflow: hidden;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #0b2347;
    margin-bottom: 30px;
}
.post-card figure .tag{
    position: absolute;
    top: 20px;
    right: 20px;
    background: var(--gradient-1);
    padding: 3px 20px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    font-size: 14px;
    color: #fff;
}
.post-card .text{
    width: 100%;
    float: left;
    padding: 28px 20px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.post-card .text h4{
    margin-bottom: 20px;
}
.post-card .text h4 a{
    color: var(--green);
}
.post-card .post-footer{
    width: 100%;
    float: left;
    padding: 10px 20px;
    color: rgba(255,255,255,0.6);
    font-size: 14px;
}


/*404*/
.section-16{
    min-height: 100vh;
    padding-top: 200px;
    background: url(../images/bg_img.jpg) no-repeat center bottom;
    background-size: cover;
}
.section-16 .border-frame{
    padding: 48px;
}

/*SINGLE POST*/
.section-17{
    padding-top: 160px;
}
.section-17 figure{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.section-17 figure::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(9,29,66,1) 0%, rgba(9,29,66,0.30015756302521013) 100%);
}
.section-17 figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.author{
    width: 100%;
    float: left;
    padding: 20px;
    background-color: #0b2347;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 40px;
}
.author .pic{
    width: 100px;
    float: left;
}
.author .text{
    padding-left: 20px;
    width: calc(100% - 100px);
    float: left;
}
.share{
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.widget{
    width: 100%;
    float: left;
    background-color: #0b2347;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
}
.widget-title{
    width: 100%;
    float: left;
    padding: 0;
    margin-bottom: 10px;
}
.widget-title h4{
    margin-bottom: 0;
    font-size: 18.66px;
}
.widget .form-wrapper{
    width: 100%;
    float: left;
    padding: 32px;
    background: var(--gradient-1);
    position: relative;
}
.widget form.src-form{
    width: 100%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
    padding: 3px;
}
.widget .src-form input{
    padding: 10px 80px 10px 20px;
    font-size: 16px;
    height: 50px;
    width: calc(100% - 73px);
    float: left;
    margin-right: 3px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 0;
}
.widget .src-form input:focus{
    outline: none;
}
.widget .src-form button{
    width: 65px;
    float: left;
    height: 50px;
    background: #fff;
    color: var(--dark-blue);
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 0;
}

.widget .src-form button{
    width: 70px;
}
.news-widget{
    width: 100%;
    float: left;
    padding: 32px;
}
.news-widget .item{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.news-widget .pic{
    width: 100px;
    float: left;
}
.news-widget .pic figure{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    margin-bottom: 0;
}
.news-widget .text{
    width: calc(100% - 100px);
    float: left;
    padding-left: 20px;
}
.news-widget .text .date{
    font-size: 14px;
    color: var(--green);
}

.burger{
    width: 50px;
    height: 50px;
    padding-top: 8px;
    float: left;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.article{
    width: 100%;
    float: left;
    margin-bottom: 32px;
}
.article p{
    float: none;
}
.article figure{
    margin-right: 20px;
}
.article figure img{
    margin-bottom: 10px;
}
.article figure figcaption{
    color: rgba(255,255,255,0.6);
    font-size: 14px;
    font-style: italic;
}
.meta-info{
    width: 100%;
    float: left;
}
.meta-info span{
    font-size: 15px;
    margin: 0 8px;
    color: #fff;
}
.meta-info span i{
    margin-right: 5px;
    color: var(--green);
}


@media only screen and (max-width: 768px){
    .for-mobile{
        display: block;
    }
    .for-desktop{
        display: none;
    }

    .col-xs-6{
        width: 50%;
    }
    .col-xs-4{
        width: 33.33%;
    }

    h1{font-size: 32.35px;}
    h2{font-size: 26.96px;}
    h3{font-size: 22.46px;}
    h4{font-size: 24px;}
    h5{font-size: 18px;}
    h6{font-size: 14px;}

    p{
        font-size: 14px;
    }

    .row{
        padding-left: 14px;
        padding-right: 14px;
    }

    .menu{
        width: calc(100% - 28px);
        position: fixed;
        top: 76px;
        left: 14px;
        background: #fff;
        text-align: left;
        opacity: 0;
        pointer-events: none;
        transition: all ease-out 0.3s;
        -moz-transition: all ease-out 0.3s;
        -webkit-transition: all ease-out 0.3s;
        padding: 15px 0;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    .menu.show{
        opacity: 1;
        pointer-events: auto;
    }
    .menu .menu-item{
        width: 100%;
        float: left;
    }
    .menu .menu-item a{
        color: var(--dark-blue);
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
    }
    .menu .menu-item a i{
        float: right;
        margin-top: 4px;
    }
    .menu .menu-item:last-child{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .menu .menu-item:last-child a{
        width: calc(100% - 34px);
    }
    .menu-item .dropdown{
        position: relative;
        top: auto;
        left: auto;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        background: #f4f4f4;
        border-top: 1px solid #dedede;
        height: auto;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }
    .menu-item .dropdown.show{
        max-height: 360px;
        overflow-y: auto;
        opacity: 1;
    }
    .mob-toggle-bt{
        width: 50px;
        height: 44px;
        position: absolute;
        top: 0;
        right: 0;
    }
    header .logo{
        float: right;
    }

    #hero .item,
    #hero .item figure{
        height: 520px;
    }
    #hero .item .text{
        text-align: center;
        padding-top: 150px;
    }
    #hero .item .btn{
        width: 100%;
        margin-top: 10px;
    }
    .section-2{
        margin-top: 0;
        padding-top: 0;
    }
    .card-1,
    .card-1.active{
        padding: 28px 14px;
    }
    .card-1.active{
        margin: 20px 0;
    }
    .card-1 .ico{
        font-size: 49px;
    }
    .section-3 .dec{
        padding: 14px;
        width: 160px;
        height: 88px;
        top: -14px;
    }
    .section-3 .dec .num{
        font-size: 32.35px;
        margin-bottom: 10px;
    }

    .card-2{
        padding: 14px 28px;
        text-align: center;
    }
    .card-2 .ico{
        position: relative;
        display: inline-block;
        left: auto;
        top: auto;
        margin-bottom: 20px;
    }
    .section-3{
        padding-bottom: 40px;
    }
    .card-3{
        margin-bottom: 20px;
        min-height: 0;
    }
    .card-3-header .ico{
        font-size: 35px;
    }
    .card-3-header{
        padding: 28px 28px 14px 80px;
    }
    .card-3 ul{
        padding-left: 20px;
    }
    .card-4 .ico{
        margin-bottom: 5px;
    }
    .section-5{
        padding-top: 0;
    }
    .section-11{
        padding: 20px 0;
    }

    .section-7 .card-2 .ico{
        top: auto;
    }
    .section-title{
        margin-bottom: 20px;
    }
    .section-7 p{
        margin-bottom: 30px;
    }
    .section-7 a.btn{
        margin-bottom: 30px;
    }
    .section-8{
        padding-top: 0;
    }
    .section-8 .col-xs-6{
        margin-bottom: 20px;
    }
    .card-5{
        padding: 28px;
    }
    .card-5 .num{
        font-size: 26.96px;
        margin-bottom: 15px;
    }
    .card-5 .num h5{
        font-size: 15.6px;
    }

    .section-9{
        padding: 0 14px;
    }
    .section-9 .section-title,
    .section-9 .section-title p{
        margin-bottom: 0;
    }

    .card-6{
        padding-top: 0;
        padding-bottom: 0;
    }

    .testimonial-slider .item{
        padding: 0;
    }
    #testimonial .col-md-12{
        padding-left: 0;
        padding-right: 0;
    }

    footer form{
        margin-bottom: 30px;
    }
    ul.sitemap li{
        font-size: 12px;
        margin-bottom: 5px;
    }

    .bottom-footer{
        padding-top: 30px;
    }
    .bottom-footer .col-xs-4{
        margin-bottom: 30px;
    }

    .bottom-footer .row:last-child{
        border-top: 1px solid rgba(255,255,255,0.3);
        padding-top: 20px;
        text-align: center;
    }
    .bottom-footer .foot-logo{
        float: none;
        display: inline-block;
        margin-bottom: 20px;
    }
    .bottom-footer .copyright{
        text-align: center;
    }

    .top-footer .col-md-5{
        text-align: center;
    }
    .newsletter-form input{
        width: 100%;
        margin-right: 0;
    }
    .newsletter-form button{
        width: 100%;
    }

    .section-13{
        padding: 0;
    }
    .section-13 .content-item{
        padding: 32px 0;
        text-align: center;
    }
    .section-13 .content-item .col-md-9{
        padding: 0 32px;
    }

    .section-15 .col-md-4{
        padding-left: 0;
        padding-right: 0;
    }
    .post-card .text h4{
        font-size: 15.6px;
    }
    .post-card .post-footer{
        font-size: 11px;
    }
    p.xxl{
        font-size: 18px;
    }
    .contact-info{
        padding: 24px 14px 0;
    }
    .contact-info .info .ico{
        font-size: 35px;
    }
    .contact-info .info h4{
        font-size: 15.6px;
    }
    .contact .border-frame{
        padding: 28px;
        margin-bottom: 20px;
    }
    .contact .col-md-5,
    .contact .col-md-7{
        padding-left: 0;
        padding-right: 0;
    }
    .contact-form .row,
    .contact-form .col-md-12,
    .contact-form .col-md-6{
        padding-left: 0;
        padding-right: 0;
    }
    .section-16 .border-frame{
        padding: 28px;
    }

    .section-14 .border-frame{
        padding: 28px 14px;
    }
    .accordion .item .accordion-header,.accordion .item.active .accordion-body{
        padding: 14px;
    }

    .cat-group a{
        width: calc((100% - 14px) / 2);
        float: left;
        margin-right: 14px;
        border: 1px solid rgba(255,255,255,0.3);
        padding-left: 0;
        text-align: center;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        margin-bottom: 14px;
    }
    .cat-group a:nth-child(even){
        margin-right: 0;
    }
    .cat-group a:last-child{
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }
    .cat-group a i{
        position: relative;
        width: 100%;
        float: left;
        height: 33px;
        text-align: center;
        top: auto;
        left: auto;
        font-size: 28px;
    }
    .section-14 .border-frame{
        margin-bottom: 20px;
    }
    .cs-box{
        padding: 28px;
        text-align: center;
    }
    .article figure{
        margin-right: 0;
        width: 100% !important;
    }

    .section-17.pac-200{
        padding: 140px 0 60px;
    }
    .section-18{
        padding: 32px 0;
    }

    .share a{
        margin-bottom: 10px;
    }
    .share .col-xs-6{
        padding-left: 5px;
        padding-right: 5px;
    }
    .share .row{
        padding-left: 5px;
        padding-right: 5px;
    }
    .author .pic{
        width: 49px;
        height: 49px;
    }
    .author .text{
        width: calc(100% - 49px);
    }
    .author .text h5{
        font-size: 15.6px;
    }
    .author p{
        font-size: 12px;
    }
    .contact-form{
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 32px;
    }
    .news-widget .pic{
        width: 93.6px;
    }
    .news-widget .text h5,
    .news-widget .text .date{
        font-size: 12px;
        font-weight: 400;
    }
    .news-widget{
        padding: 10px;
    }

    .section-3 .dec.dec-quotes{
        padding: 20px;
        top: auto;
    }
    
    .team-page .section-3 .col-md-6{
        margin-bottom: 60px;
    }
    .team-page .section-3 .col-md-6 figure{
        margin-left: -24px;
        width: calc(100% + 24px);
        height: 315px;
    }
    .dec.dec-bottom-right{
        right: -14px;
    }

    .row .col-md-1,
    .row .col-md-2,
    .row .col-md-3,
    .row .col-md-4,
    .row .col-md-5,
    .row .col-md-6,
    .row .col-md-7,
    .row .col-md-8,
    .row .col-md-9,
    .row .col-md-10,
    .row .col-md-11,
    .row .col-md-12{
        padding-left: 0;
        padding-right: 0;
    }

    .col-xs-6:nth-child(odd){
        padding-right: 10px;
    }
    .col-xs-6:nth-child(even){
        padding-left: 10px;
    }
    .card-9{
        margin-bottom: 32px;
    }

    .lp-headline .text{
        text-align: center;
    }
    .lp-headline .text .row{
        width: auto;
    }
    .card-10{
        margin-bottom: 20px;
    }
    .lp-headline{
        padding-top: 140px;
        height: 670px;
    }
    .lp-headline figure{
        height: 100%;
    }
    .lp-headline figure img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


